@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Haj haj haj</h1>
    <a asp-page="/Chatroom/index" class="btn btn-outline-info">Chat rooms</a>
</div>
