@page
@model Anslagstavlan.Pages.ChatRoom.IndexModel
@{
}

<a class="btn btn-outline-info" asp-page="/chatroom/create">Create Room</a>
@if (Model.chatRooms.Any())
{
    foreach (var chatRoom in Model.chatRooms)
    {
        <h1>@chatRoom.ChatRoomName</h1>
        <a asp-page="/ChatRoom/Edit" asp-route-Id="@chatRoom.ChatRoomId" class="btn btn-info">Edit</a>
        <a asp-page="/ChatRoom/Delete" asp-route-Id="@chatRoom.ChatRoomId" class="btn btn-info">Delete</a> 
        <a asp-page="/ChatRoom/ViewChat" asp-route-Id="@chatRoom.ChatRoomId" class="btn btn-info">View</a>
    }
}
